.landing-module-28 {
  .extra-padding {
    padding: 5em;
  }

  .yellow {
    padding: 0em 0;
  }

  p {
    font-size: 20px;
  }

  p.blurb {
    font-size: 30px;
    color: $black;
    @include montserrat();
  }

  strong {
    color: $sherpa-secondary-color;
  }

  .red {
    color: red;
    font-weight: 600;
  }

  .btn {
    margin-top: 3em;
  }

  @include media-breakpoint-down(lg) {

    .content-top {
      padding-top: 100px;
    }

    .extra-padding {
      padding: 2em 15px;

      img {
        padding: 0 2em;
      }
    }

    p {
      @include mobile-type();

    }

    h1 {
      @include mobile-heading();
    }

    h2, p.blurb {
      @include mobile-heading2();
    }
  }
}
