
.landing-module-8 {
  background: url("../img/landing-sales/bg-research.jpg") 0 0 no-repeat;
  background-size: cover;
  text-align: left;
  color: $white;
 

  img {
    flex: 1;
  }

  p {
    font-size: 20px;
  }

  .container {
    max-width: 1530px;
    
  }

  h2 {
    color: $white;
    @include montserrat();
    font-weight: 600;
    text-align: left;
    margin-left: 0;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }

  .flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      line-height: 1.5;
    }

    > div {
      position: relative;
      padding: 3em 0;
      margin: 5.5em 0;

      &::before {
        @include dashLines();
        position: absolute;
        top: 0;
        left: 0;
      }

      &::after {
        @include dashLines();
        position: absolute;
        bottom: 0;
        left: 0;
        background-position: 100% 100%;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    text-align: center;
    padding: 2em 0 0;

    h2 {
      text-align: center;
    }

    .flex-col > div {
      margin: 1em 0;
      padding: 2em 15px;
    }

    .content-top {
      padding-top: 100px;
    }

    p {
      @include mobile-type();

    }

    h1 {
      @include mobile-heading();
    }

    h2, p.blurb {
      @include mobile-heading2();
    }
  }
}
