.landing-module-23 {
  .extra-padding {
    padding: 4em 0;
  }

  .embed-responsive {
    max-width: 50%;
    margin: 0 auto;
  }

  @include media-breakpoint-down(lg) {
    .embed-responsive {
      max-width: 100%;
    }
  }
}
