.landing-module-21 {
  background: #f1f1f1;
  padding: 4em 2em;
  position: relative;

  .btn {
    margin-bottom: 0;
  }

  
  .ppc-banner {
      background: $white;
    }
  

  

  @media screen and (min-width: 1400px) {
    .ppc-banner {
//     background: url("../img/landing-sales/ppc-ads.jpg") 0 0 no-repeat;
//     background-size: cover;
    position: relative;
    background: $white;
    overflow: hidden;
    
    @include dropshadow();

    &::before {
      content: '';
      position: absolute;
      left: 15%;
      top: 20px;
      background: url('../img/landing-sales/bg-finger.png') center 0 no-repeat;
      width: 50vw;
      height: 100%;
      display: block;
      z-index: 999;
    }
  }
  }

  .bg-ppc {
    position: relative;
    background: url('../img/landing-sales/bg-ppc-sales.jpg') 0 center no-repeat;
    background-size: cover;
  }

  .landing-text-box {
    margin: 0 0;
    background: none;
  }

  .extra-padding {
    padding-left: 4em;
    padding-right: 4em;
  }

  .red {
    color: red;
  }

  @include media-breakpoint-down(lg) {
    padding: 0 0;


    .extra-padding {
      padding: 0 0 2em;
    }

    .bg-ppc {
      background: url('../img/landing-sales/ppc-bg.jpg') center center no-repeat;
      background-size: cover;
      min-height: 300px;
    }

    .landing-text-box {
      padding: 0 0;
    }

    .content-top {
      padding-top: 100px;
    }

    .row .col {
      padding-bottom: 0;
    }

    p {
      @include mobile-type();

    }

    h1 {
      @include mobile-heading();
    }

    h2, p.blurb {
      @include mobile-heading2();
    }
  }
}
