.landing-module-21 {
  background: #f1f1f1;
  padding: 4em 2em 0;

  .btn {
    margin-bottom: 0;
  }

  .ppc-banner {
    padding: 2em 30px;
    background: url("../img/landing-sales/ppc-ads.jpg") 0 0 no-repeat;
    background-size: cover;
  }

  .landing-text-box {
    margin: 0 0;
    background: none;
  }

  .extra-padding {
    padding-left: 4em;
    padding-right: 4em;
  }

  .red {
    color: red;
  }

  @include media-breakpoint-down(lg) {
      
    padding: 0 0;

    .content-top {
      padding-top: 100px;
    }

    p {
      @include mobile-type();

    }

    h1 {
      @include mobile-heading();
    }

    h2, p.blurb {
      @include mobile-heading2();
    }
  }
}
