.landing-module-6 {
  padding: 2.5em 0;

  h2 {
    font-weight: 600;
    font-size: 41px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    .blue {
      background: transparent;
      color: $sherpa-secondary-color;
    }
  }

 

  p.blurb {
    font-size: 26px;
    color: #000;
    font-weight: 500;
  }

  .list-inline {
    list-style: none;
    display: flex;
    justify-content: center;
    color: $black;
    margin-top: 4.5em;
    margin-bottom: 2em;

    li {
      font-size: 33px;
      &::before {
        content: "|";
        margin: 0 1.5em;
      }

      &:first-child::before {
        display: none;
      }
    }
  }

  ul.checks {
    margin-top: 2.5em;
    margin-bottom: 4em;
  }

  .banner {
    background: url('../img/landing-sales/bg-icons.jpg') 0 0 no-repeat;
    background-size: contain;
    padding-top: 200px;
  }

  @media screen and (max-width: 1400px) {
    .list-inline li {
          font-size: 1em;
    }
  }


  @include media-breakpoint-down(lg) {
    padding: 2em 15px;

    .list-inline {
      flex-direction: column;
      text-align: center;

      li {
        margin-bottom: 1em;
        @include mobile-type();
      }

      li::before {
        display: none;
      }
    }

    .content-top {
      padding-top: 100px;
    }

    p {
      @include mobile-type();
    }

    h1 {
      @include mobile-heading();
    }

    h2,
    p.blurb {
      @include mobile-heading2();
    }
  }
}
