.landing-module-19 {
  .ribbon {
    font-size: 33px;
    padding: .5em 0;
    @include montserrat();
    font-weight: 600;
  }

  @include media-breakpoint-down(lg) {  
    .ribbon {
      font-size: 1em;
    }

    img {
      height: 100px;
    }
  }
}
