.landing-module-20 {
  position: relative;
  background: #f1f1f1;
  text-align: left;
  overflow: visible;

  .dark-gray .extra-padding,
  .gray .extra-padding {
    padding: 3em 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("../img/landing-sales/bg-ipad.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    width: 50vw;
    height: 100%;
    z-index: 999;
  }

  .col.bg-ipad {
    position: relative;
    overflow: visible;
  }

  h2 strong {
    color: $sherpa-secondary-color;
    font-weight: 500;
  }

  .gray {
    position: relative;
    background: transparent;
  }

  .dark-gray {
    position: relative;
    background: transparent;
    color: $white;

    h2 {
      color: #9fa3a4;

      span {
        color: $white;
        display: block;
      }
    }

    &::before {
      background: #333333;
      content: "";
      width: 150vw;
      height: 100%;
      display: block;
      position: absolute;
      left: -50vw;
      top: 0;
    }
  }

  @include media-breakpoint-down(lg) {

    &::before {
      display: none;
    }

    .gray {
      text-align: center;

      .extra-padding {
        padding: 2em 15px;
      }
    }

    .row .col {
      .extra-padding {
        padding: 2em 15px;
        text-align: center;
      }

      padding: 0 0;
    }
    
    .content-top {
      padding-top: 100px;
    }

    p {
      @include mobile-type();

    }

    h1 {
      @include mobile-heading();
    }

    h2, p.blurb {
      @include mobile-heading2();
    }
  }
}
