.landing-module-24 {
  background: url("../img/landing-sales/bg-social.jpg") 0 0 no-repeat;
  background-size: cover;
  color: $white;
  padding: 169px 0 0;

  .holder {
    margin: 0 30px;
    position: relative;
    @include nodropshadow();

    &::before {
    content: "";
    height: 100%;
    width: 100%;
    
    background: -moz-linear-gradient(
      50% 0% -90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-gradient(
      linear,
      50% 0%,
      50% 100%,
      color-stop(0, rgba(255, 255, 255, 0)),
      color-stop(1, rgba(255, 255, 255, 1))
    );
    background: -o-linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -ms-linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    opacity: 0.59;

    display: block;
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  }

  

  p.blurb {
    font-weight: 600;
  }

  .list-inline {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      font-size: 33px;
      &::before {
        content: "|";
        margin: 0 1.5em;
        color: $sherpa-brand-primary;
      }

      &:first-child::before {
        display: none;
      }
    }
  }

  .col {
    display: flex;
     margin-top: 150px;

  }

  .social-tab {

    @include dropshadow();

    .icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: $black;
      border-radius: 50%;
      width: 127px;
      height: 127px;
      top: -90px;

      &::before {
        content: "";
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9999;
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        height: 66px;
      }
    }

    .icon-phone {
      @include icon-phone();
      &::before {
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .icon-youtube {
      @include icon-youtube();
      &::before {
        background-size: 46px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .icon-remarketing {
      @include icon-remarketing();
      &::before {
        background-size: 48px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .icon-display {
      @include icon-display();
      &::before {
        background-size: 60px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    p.blurb {
      font-size: 33px;
      font-weight: 600;
      strong {
        color: $sherpa-secondary-color;
        font-weight: 600;
      }
    }

    .blue {
      background: transparent;
      color: $sherpa-secondary-color;
    }

    > h2 {
      background: $sherpa-brand-primary;
      color: $white;
      display: block;
      padding: 0.5em;
      font-family: "Oswald", sans-serif;
      font-size: 80px;
      margin-bottom: 0;
    }

    background: $white;
    color: $black;

    .extra-padding {
      padding: 3em;
    }

    
  }

  @media screen and (min-width: 1200px) {

   

    .display-col {
       margin-top: 0;
    }

    .social-tab.sideways {
      flex-direction: row;
      display: flex;
      margin-top: 2em;
      text-align: left;
      margin: 2em auto;
      position: relative;

      p {
        margin-bottom: 0;
      }

      h2 {
        text-transform: uppercase;
        margin-bottom: 0;
        padding-left: 90px;
      }

      .icon {
        left: -60px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .check-list {
    text-align: left;
  }

  @include media-breakpoint-down(lg) {
    background: #000;
    padding: 0 0;

    img {
      margin-bottom: 2em;
    }

    .holder {
      margin: 0 0;
      padding-bottom: 2em;
    }

    p.blurb {
      font-weight: 300;
      line-height: 1;
      margin-bottom: 1em;
      font-size: 1em;
    }

    .social-tab {

      flex: 1;

      h2 {
        font-size: 2em;
      }

      p.blurb {
        font-size: 1.5em;
      }

      .icon {
        height: 90px;
        width: 90px;
        top: -50px;
      }


    }

    .list-inline {
      flex-direction: column;
      margin-top: 1em;
      margin-bottom: 0;

      li {
        margin-left: 0;
        margin-bottom: 1em;
        font-size: 1em;

        &::before {
          display: none;
        }
      }
    }

    .col {
      margin-top: 100px;
    }

    .content-top {
      padding-top: 100px;
    }

    p {
      @include mobile-type();

    }

    h1 {
      @include mobile-heading();
    }

    p.blurb {
      line-height: 1.5;
    }

    h2, p.blurb {
      @include mobile-heading2();
    }
  }
}
