.landing-module-16 {
  .ribbon.blue {
    background: $sherpa-secondary-color;
    color: $white;

    h2 {
      font-size: 33px;
      padding: 0 0;
      margin-bottom: 0;
    }
  }

  .black {
    background: $black;
    color: $white;

    p {
      font-size: 33px;
      line-height: 1.5;
    }

    .extra-padding {
      padding-top: 10em;
      padding-bottom: 10em;
    }

    text-align: left;

    .map {
      &::before {
        background: url("../img/landing-sales/bg-map.jpg") 0 100% no-repeat;
        background-size: cover;
        content: "";
        position: absolute;
        left: 0;
        width: 50vw;
        display: block;
        height: 100%;
      }
    }
  }

  @include media-breakpoint-down(lg) {  

    .yellow {
      padding: 2em 30px;
    }


    .map {
       background: url(../img/landing-sales/bg-map.jpg) 0 100% no-repeat;
       background-size: cover;
       height: 200px;

       &::before {
         display: none !important;
       }
    }

    .col .extra-padding {
      padding: 0 15px;
      text-align: center;

      p {
        @include mobile-heading2();
      }
    }

    .ribbon.blue h2 {
      font-size: 1em;
      margin-bottom: 0;
    }

  }
}
