.landing-module-9 {
  background: -moz-linear-gradient(
    0% 50% 0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(35, 31, 32, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(35, 31, 32, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(0, rgba(0, 0, 0, 1)),
    color-stop(0.5, rgba(35, 31, 32, 0.5)),
    color-stop(1, rgba(0, 0, 0, 1))
  );
  background: -o-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(35, 31, 32, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(35, 31, 32, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000' ,GradientType=0)";
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(35, 31, 32, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000' , GradientType=1);
}
