.landing-module-22 {
  color: $black;
  padding: 4em 0;

  .red {
    color: red;
  }

  p {
    margin-top: 2em;
  }

  @include media-breakpoint-down(lg) {
    
    padding: 0 0;

    .content-top {
      padding-top: 100px;
    }

    p {
      @include mobile-type();
      margin-top: 0;
      margin-bottom: 2em;
    }

    h1 {
      @include mobile-heading();
    }

    h2, p.blurb {
      @include mobile-heading2();
    }
  }
}
