.landing-module-13 {

  .bottom {
    background: $white;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    padding: 15px;
    position: relative;

    
  }

  .img-asap {
      position: absolute;
      z-index: 9999;
      width: 238px;
      height: 399px;
      top: -250px;
      right: 20px;
    }

  h2 {
    font-weight: 500;
    margin-bottom: .5em;
  } 

  .bg-1 {
    background: url("../img/landing-sales/need-a-website.jpg") 0 0 no-repeat;
    background-size: cover;
  }

  .bg-2 {
    background: url("../img/landing-sales/seo-leads.jpg") 0 0 no-repeat;
    background-size: cover;
  }

  .gray {
    background: #f6f6f6;
  }

  .dark-gray {
    background: #e5e5e5;
  }

  .gray,
  .dark-gray {
    .extra-padding {
      padding: 2em;
    }
  }

  .dark-gray h2 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  p.blurb {
    font-size: 22px;
  }

  .container {
    max-width: 1530px;
  }

  .ribbon.black {
    background: #000;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;


    p {
      font-size: 18px;
      font-family: "roboto", sans-serif;
    }
 }
@include media-breakpoint-down(lg) {  

  .dark-gray .extra-padding, .gray .extra-padding {
    padding: 0 15px;
  }

  .img-asap {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: auto;
    height: 100px;
  }

 

   .bg-1 {
     order: -1;
   }

   .bg-1, .bg-2 {
     min-height: 300px;
   }

   .ribbon.black {
     padding: 2em 30px;
     p {
       font-size: 1em;
     }
   }


    p {
      @include mobile-type();
    }

    h1 {
      @include mobile-heading();
    }

    .dark-gray h2, p.blurb {
      @include mobile-heading2();
    }

      
   }
}
 
