.landing-module-26 {
  .black {
    background: #000;
    color: $white;
    padding: 6.5em 0;

     p {
      font-size: 33px;
    }
  }
    

    p {
      font-size: 36px;
    }
 

  .yellow {
    background: none;
    color: #eee30c;
    font-style:  italic;
    font-weight: 600;
  }

  p.blurb {
    margin-top: 1em;
  }

  .gray {
    color: $black;
    padding: 3em 0;

    p {
      line-height: 1.25;
      @include montserrat();
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .red {
    color: red;
  }

  @include media-breakpoint-down(lg) {

    .black .extra-padding {
      padding: 2em 15px;
    }
   
    .gray p {
      margin-bottom: 0;
    }
    
    .content-top {
      padding-top: 100px;
    }

    p {
      @include mobile-type();
    }


    h1 {
      @include mobile-heading();
    }

    h2, p.blurb {
      @include mobile-heading2();
    }

    p.blurb {
      margin-bottom: 0;
    }
  }
}
