.warning-sign {
  // text-align: center;
  // height: 115px;
  // position: relative;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: -80%;
  transform: translateX(-50%);
}

.warning-top {
  height: 115px;
  background: #f1f1f1;
  position: relative;
}

strong em {
  font-style: normal;
  color: $sherpa-secondary-color;
}

.warning {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-width: 50%;
  position: absolute;
}

.content-bg {
  background: #fff;
  color: #000;
  text-align: center;
  padding-top: 122px;

  // &::before {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   height: 115px;
  //   background: #f1f1f1;
  //   z-index: -1;
  // }
}

h1,
h2,
h3 {
  @include montserrat();
}

h1 {
  font-size: 41px;
  color: #000;
}

h1 span {
  display: block;
  font-size: 30px;
}

.box {
  border: 5px solid #000;
  width: 586px;
  margin: 64px auto 1em; 

  p {
    padding: 1.5em;
    margin-bottom: 0;
    font-size: 22px;
  }

  .box-header {
    background: #eee40b;
    font-size: 30px;
    font-weight: 600;
    padding: 0.75em;
    @include montserrat();
  }

  font-size: 22px;

  strong {
    color: #2192f9;
  }
}

.checkmarks {
  width: 586px;
  margin: 0 auto;
}

.bg-truth {
  background: url("../img/landing-sales/the-truth.jpg") right 0 no-repeat;
  background-size: cover;
} 


.checkmark p {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.75;
  font-weight: 600;
  @include checkCircle();

  &::before {
    margin: 0 auto;
  }
}


.content-bg {
  @media screen and (max-width: 1500px) {
        img {
          display: block;
          margin: 0 auto;
        }
  }


  @media screen and (max-width: 1500px) {
    .container-fluid .row {
      display: flex;
      flex-direction: column;

       
      .col {
        flex: 1;
        background: none;
      }
    }
  }

  @media screen and (min-width: 1500px) {
    img {
      display: none;
    }
  }
}
  
 

@include media-breakpoint-down(lg) {

  .bg-truth {
    min-height: 500px;
  }
  
  .box {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
   
     p {
        @include mobile-type();
     } 
  }


  .extra-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .checkmarks {
    width: 100%;

    flex-direction: column;

    .col {
      flex: 1;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  h1, .box .box-header {
    @include mobile-heading();
  }
}