.landing-module-28 {
  .extra-padding {
    padding: 4em;
  }

  .yellow {
    padding: 4em 0;
  }

  p {
    font-size: 20px;
  }

  p.blurb {
    font-size: 30px;
  }

  strong {
    color: $sherpa-secondary-color;
  }

  .red {
    color: red;
  }
}
