.two-up {
  background: #f1f1f1;
  @include downArrow();
  position: relative;
  margin-top: 50px;

  &::before {
    width: 40px;
    height: 455px; 
    position: absolute;
    left: 50%;
    background-size: auto 255px;
    top: -280px;
    transform: translateX(-50%);
    z-index: 9999;
  }

  h2 {
    font-size: 26px;
    font-weight: 500;
  }

  .extra-padding {
    padding: 114px;
  }

  p {
    font-size: 18px;
    margin-bottom: 1em;
  }

  .blurb {
    font-size: 26px;
    @include montserrat();
    line-height: 1.45;
    font-weight: 600;

    &.second {
      margin-top: 1.25em;
    }
  }

  

  @include media-breakpoint-down(lg) {
    .extra-padding {
      padding: 2em 15px;
    }

    .gray {
      background: #F1F1F1;
    }

    .btn {
      font-size: 23px;
    }

    &::before {
      display: none;
    }

    .content-top {
      padding-top: 100px;
    }

    p {
      @include mobile-type();

    }

    h1 {
      @include mobile-heading();
    }

    h2, p.blurb {
      @include mobile-heading2();
    }
  }
}
