.landing-module-27 {
  background: url("../img/landing-sales/bg-space.jpg") center 100% no-repeat;
  background-size: cover;
  color: $white;
  min-height: 845px;
  padding-top: 96px;

  p {
    color: $white;
    font-weight: 600;

    strong {
      color: $sherpa-secondary-color;
    }
  }

  @include media-breakpoint-down(lg) {
  

    .content-top {
      padding-top: 100px;
    }

    p {
      @include mobile-type();

    }

    h1 {
      @include mobile-heading();
    }

    h2, p.blurb {
      @include mobile-heading2();
    }
  }
}
