.ribbon {
  background: #ff0000;
  text-align: center;
  padding: 1em 0;
  color: $white;

  p {
    color: $white;
    margin-bottom: 0;
    font-size: 33px;
    font-weight: 500;
    line-height: 1.5;
    @include montserrat();
  }

  &.gray {
    background: #f1f1f1;

    p {
      color: $black;
      font-size: 35px;
    }

    strong {
      color: #ff0000;
      font-weight: 600;
    }
  }

  @include media-breakpoint-down(lg) {
    p {
      font-size: 1em;
    }

    &.gray p {
      font-size: 1em;
    }
  }
}
