.page-template-page-landing-sales {
  background: #000 url("../img/landing-sales/bg-landing-page-sales.jpg") 0 0
    no-repeat;
  background-size: contain;
  font-family: "Roboto", sans-serif;

  h1 strong {
    font-weight: 600;
  }

  .header {
    position: absolute;
    top: 90px;
    left: 0;

    .navbar-brand img {
      width: 390px;
      height: auto;
    }
  }

  .content-top {
    padding-top: 400px;
  }

  @media screen and (min-width: 1200px) {
    .content-top {
      margin-left: 90px;
      margin-right: 90px;
      margin-bottom: 0;
      position: relative;
    }
  }

  .content-bottom {
    text-align: center;
    background: $white;
  }

  .btn {
    font-size: 22px;
    text-transform: none;
    padding: 1em 2em;
    margin-top: 1.5em;
  }

  ul.checks {
    list-style: none;
    padding-left: 0;

    span {
      display: inline-block;
      overflow: hidden;
      @include check();
    }

    li {
      margin-bottom: 0.5em;
      clear: both;
    }
  }

  .yellow {
    background: #eee30c;
  }

  .blue {
    background: $sherpa-secondary-color;
  }

  @import "landing-sales/landing-module-1";
  @import "landing-sales/landing-module-2";
  @import "landing-sales/landing-module-3";
  @import "landing-sales/landing-module-4";
  @import "landing-sales/landing-module-5";
  @import "landing-sales/landing-module-6";
  @import "landing-sales/landing-module-7";
  @import "landing-sales/landing-module-8";
  @import "landing-sales/landing-module-9";
  @import "landing-sales/landing-module-10";
  @import "landing-sales/ribbon";
}
