.page-template-page-landing-sales {
  @mixin mobile-heading() {
    font-size: 20px;
  }

  @mixin mobile-heading2() {
    font-size: 18px;
  }

  @mixin mobile-type() {
    font-size: 15px;
  }

  background: #000 url("../img/landing-sales/bg-landing-page-sales.jpg") 0 0
    no-repeat;
  background-size: contain;
  font-family: "Roboto", sans-serif;

  p.blurb {
    @include montserrat();
  }

  h1 strong {
    font-weight: 600;
  }

  .header {
    position: absolute;
    top: 90px;
    left: 0;

    .navbar-brand img {
      width: 390px;
      height: auto;
    }
  }

  .content {
    overflow: hidden;
  }

  .content-top {
    padding-top: 400px;
  }

  @media screen and (min-width: 1200px) {
    .content-top {
      margin-bottom: 0;
      position: relative;
    }
  }

  .content-bottom {
    text-align: center;
    background: $white;
  }

  .btn {
    font-size: 22px;
    text-transform: none;
    padding: 1em 2em;
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  ul.checks {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    span {
      display: inline-block;
      overflow: hidden;
      @include check();
      position: relative;
      overflow: visible;

      &::before {
        background-size: 33px;
        background-position: 0 0;
        width: 33px;
        height: 33px;
      }
    }

    li {
      margin-bottom: 0.5em;
      font-size: 21px;
      clear: both;
      font-weight: 300;
    }
  }

  .yellow {
    background: #eee30c;
    padding: 2em 0;
  }

  .blue {
    background: $sherpa-secondary-color;
  }

  .landing-text-box {
    background: $white;
    color: #000;
    padding: 5em 0 0;

    h2 {
      color: #000;
      text-align: center;
      font-size: 33px;
      margin-bottom: 1em;

      strong {
        color: $sherpa-secondary-color;
      }
    }

    p.blurb {
      font-weight: 500;
      font-size: 24px;
    }

    strong em {
      color: $sherpa-secondary-color;
      font-style: normal;
    }

    p {
      font-size: 18px;
      font-weight: 300;
    }

    text-align: center;
  }

  .ribbon.ribbon-black {
    background: #000;

    span {
      color: #25971b;
    }
  }

  .landing-text-box {
    padding: 5em 0;
  }

  .internal-banner {
    margin-top: 2em;
  }

  @import "landing-sales/landing-module-1";
  @import "landing-sales/landing-module-2";
  @import "landing-sales/landing-module-3";
  @import "landing-sales/landing-module-4";
  @import "landing-sales/landing-module-5";
  @import "landing-sales/landing-module-6";
  @import "landing-sales/landing-module-7";
  @import "landing-sales/landing-module-8";
  @import "landing-sales/landing-module-9";
  @import "landing-sales/landing-module-10";
  @import "landing-sales/landing-module-11";
  @import "landing-sales/landing-module-12";
  @import "landing-sales/landing-module-13";
  @import "landing-sales/landing-module-14";
  @import "landing-sales/landing-module-15";
  @import "landing-sales/landing-module-16";
  @import "landing-sales/landing-module-18";
  @import "landing-sales/landing-module-19";
  @import "landing-sales/landing-module-20";
  @import "landing-sales/landing-module-21";
  @import "landing-sales/landing-module-22";
  @import "landing-sales/landing-module-23";
  @import "landing-sales/landing-module-24";
  @import "landing-sales/landing-module-25";
  @import "landing-sales/landing-module-26";
  @import "landing-sales/landing-module-27";
  @import "landing-sales/landing-module-28";
  @import "landing-sales/ribbon";

  @media screen and (max-width: 480px) {
    .content-top {
      padding-top: 200px;
    }

    .warning-sign {
      top: -100px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 700px) {
    .content-top {
      padding-top: 200px;
    }

    #header-logo {
      margin-top: -500px;
    }
  }

  @media screen and (min-width: 701px) and (max-width: 992px) {
    .content-top {
      padding-top: 300px;
    }

    #header-logo {
      margin-top: -400px;
    }
  }

  @include media-breakpoint-down(sm) {
    background: #000 url("../img/landing-sales/bg-warning-mobile.jpg") 0 0
      no-repeat;
    background-size: contain;
  }

  @include media-breakpoint-down(lg) {
    .header {
      top: 50px;
    }

    #header-logo {
      margin-left: 15px;
    }

    .btn {
      white-space: inherit;
    }

    .landing-text-box {
      padding: 2em 15px;

      p.blurb {
        @include mobile-heading2();
      }

      p {
        @include mobile-type();
      }
    }

    p.blurb {
      line-height: 1.5;
    }

    .extra-padding {
      padding-left: 15px;
      padding-right: 15px;
    }

    ul.checks {
      margin-bottom: 2em;
    }

    ul.checks li {
      @include mobile-type();
    }

    .btn.btn-primary {
      font-size: 13px;
      margin-bottom: 0;
    }

    .row {
      flex-direction: column;

      .col {
        flex: 1;
        padding: 2em 15px;
      }
    }

    p {
      @include mobile-type();
    }

    h1 {
      @include mobile-heading();
    }

    h2,
    p.blurb {
      @include mobile-heading2();
    }
  }
}

.map-img {
  width: 100%;
}

.wpcf7-form-control-wrap {
  position: relative;
}
